/* General page styles */


html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7fa;
  color: #333;
}

.app-container {
  width: 100%;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden; */
  /* background-image: url('C:/Users/kalpe/OneDrive/Desktop/pooja/finance_tracker/client/src/images/tracker.jpg');  */
}
.dashboard {
   background-color: pink;
   
}
.app-container-hidden {
  display: none;
}
/* Navbar styles */
/*.navbar {
  background-color: #3498db; // Blue shade that matches button colors 
  padding: 10px 20px;
  padding-right: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  color: white;
  width: 100%;
  height: 60px;
}*/
.sign-in-container {
  margin-top: 300px;
  /* background-color: #333; */
}

.sign-in-container button {
  margin: 10px;
}
.navbar{
  background-color: #FF6500;
  color: white;
  width: 100%;
  padding: 20px 30px ;
  display: flex;
  justify-content: space-between;
  /* border-radius: 5rem; */
}

.title{
  /* color: black; */
  font-size: x-large;
  font-weight: bold;
  /* text shadow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}





/* Specific styling for Clerk's UserButton if needed */
.clerk-user-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.clerk-user-button:hover {
  color: #e0e0e0; /* Consistency in hover effects */
}

/* Additional styles to ensure text and elements are vertically aligned properly */
